In [ ]:
#Challenge 3 Creat direction layer to drew the route to four cities

In [32]:
import pandas as pd
import requests
import gmaps
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import requests
import gmaps.datasets
import ipywidgets as widgets


from IPython.display import display
from config import g_key

In [33]:
gmaps.__version__

'0.9.0'

In [34]:
gmaps.configure(api_key=g_key)

In [35]:
vacation_df =pd.read_csv("data/WeatherPy_Vacation.csv")

In [36]:
vacation_df.head()

,city_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,khatanga,RU,63.37,71.97,102.50,"Gostinitsa ""Zapolyar'ye"""
1,1,avarua,CK,75.20,-21.21,-159.78,Paradise Inn
2,2,busselton,AU,61.00,-33.65,115.33,Observatory Guest House
3,4,rikitea,PF,73.85,-23.12,-134.97,Pension Maro'i
4,8,hilo,US,82.40,19.73,-155.09,Hilo Hawaiian Hotel

In [37]:
#Using the template add the hotel marks to the heatmao
info_box_template ="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [38]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
vacation_start = vacation_df.loc[vacation_df["City"] == "half moon bay"]
vacation_end = vacation_df.loc[vacation_df["City"]== "pacific grove"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "glenwood springs"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "bud"]

In [40]:
start = vacation_start ["Lat"].values [0], vacation_start ["Lng"].values[0]

end = vacation_end ["Lat"].values[0], vacation_end ["Lng"].values[0]
stop1 = vacation_stop1 ["Lat"].values [0], vacation_stop1 ["Lng"].values[0]
stop2 = vacation_stop2 ["Lat"].values [0], vacation_stop2 ["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(37.46, -122.43)
(36.62, -121.92)
(39.55, -107.32)
(39.45, -86.18)

In [41]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, waypoints =[stop1, stop2], 
                                            travel_mode = "DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
itenerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [43]:
itenerary_df

,city_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
66,130,half moon bay,US,75.99,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
285,521,pacific grove,US,62.60,36.62,-121.92,Lovers Point Inn
65,124,glenwood springs,US,64.99,39.55,-107.32,Glenwood Springs Cedar Lodge
60,114,bud,US,82.40,39.45,-86.18,Madsion Scouts Camp

In [44]:
itenerary_df.reset_index(drop=True)

,city_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,130,half moon bay,US,75.99,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
1,521,pacific grove,US,62.60,36.62,-121.92,Lovers Point Inn
2,124,glenwood springs,US,64.99,39.55,-107.32,Glenwood Springs Cedar Lodge
3,114,bud,US,82.40,39.45,-86.18,Madsion Scouts Camp

In [45]:
info_box_template ="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itenerary_df.iterrows()]
locations = itenerary_df[["Lat", "Lng"]]

In [46]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))