# Challenge Part 2: Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
city_data_df = pd.read_csv("./data/WeatherPy_Database.csv")
city_data_df

,city_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,bredasdorp,3.96,ZA,clear sky,100,-34.53,20.04,51.80,0,0.00,3.96
1,1,lata,3.56,PT,few clouds,82,40.16,-8.33,64.99,0,0.00,3.56
2,2,miyako,6.38,JP,overcast clouds,86,39.64,141.95,63.46,0,0.00,6.38
3,3,sioni,29.97,GE,thunderstorm,73,41.99,45.02,71.60,0,0.00,29.97
4,4,mahebourg,9.17,MU,shower rain,83,-20.41,57.70,71.60,0,0.00,9.17
...,...,...,...,...,...,...,...,...,...,...,...,...
589,589,la ronge,4.70,CA,light rain,88,55.10,-105.28,66.20,0,0.00,4.70
590,590,rio grande,9.40,BR,light rain,94,-32.03,-52.10,63.00,0,0.76,9.40
591,591,phalombe,4.52,MW,few clouds,90,-15.81,35.65,58.26,0,0.00,4.52
592,592,birao,3.15,CF,overcast clouds,80,10.28,22.79,74.10,0,0.00,3.15
593,593,zemio,1.63,CF,moderate rain,95,5.03,25.14,69.28,0,1.44,1.63

In [3]:
#To check the the Data Type
city_data_df.dtypes

city_ID                  int64
City                    object
Cloudiness             float64
Country                 object
Current Description     object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)            int64
Snow (inches)          float64
Wind Speed             float64
dtype: object

In [4]:
#Configure Gmaps
gmaps.configure(api_key=g_key)

In [7]:
#Enter max temperature criteria
min_temp = float(input("what is the minimum temperature you would like for your vacation"))
max_temp = float(input("what is the maximum temperature you would like for your vacation"))

what is the minimum temperature you would like for your vacation60
what is the maximum temperature you would like for your vacation85

In [8]:
# Ask the customer if you want it to be raining 
rain_amount = input ("Do you want it to be raining?(yes/no)")

Do you want it to be raining?(yes/no)no

In [9]:
snow_amount = input("Do you want it to be snowing (yes/no)")

Do you want it to be snowing (yes/no)no

In [10]:
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&
                                       (city_data_df["Max Temp"]>=min_temp)&
                                       (city_data_df["Rain (inches)"]==0)&
                                       (city_data_df["Snow (inches)"]==0)]
elif rain_amount =="no" and snow_amount =="yes":
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&
                                       (city_data_df["Max Temp"]>=min_temp)&
                                       (city_data_df["Rain (inches)"]==0)&
                                       (city_data_df["Snow (inches)"]>=0.0)]
elif rain_amount =="yes" and snow_amount =="no":
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&
                                       (city_data_df["Max Temp"]>=min_temp)&
                                       (city_data_df["Rain (inches)"]>=0.0)&
                                       (city_data_df["Snow (inches)"]==0)]

else:
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&
                                       (city_data_df["Max Temp"]>=min_temp)&
                                       (city_data_df["Rain (inches)"]>=0.0)&
                                       (city_data_df["Snow (inches)"]==0)]

In [11]:
filtered_cities_df.head()

,city_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
1,1,lata,3.56,PT,few clouds,82,40.16,-8.33,64.99,0,0.0,3.56
2,2,miyako,6.38,JP,overcast clouds,86,39.64,141.95,63.46,0,0.0,6.38
3,3,sioni,29.97,GE,thunderstorm,73,41.99,45.02,71.60,0,0.0,29.97
4,4,mahebourg,9.17,MU,shower rain,83,-20.41,57.70,71.60,0,0.0,9.17
7,7,beaverlodge,11.41,CA,scattered clouds,33,55.22,-119.44,73.40,0,0.0,11.41

In [12]:
#Count the cities
filtered_cities_df.count()

city_ID                339
City                   339
Cloudiness             339
Country                335
Current Description    339
Humidity               339
Lat                    339
Lng                    339
Max Temp               339
Rain (inches)          339
Snow (inches)          339
Wind Speed             339
dtype: int64

In [13]:
# To drop the NA cities and run the code to make sure if any city dropped
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df.head()

,city_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
1,1,lata,3.56,PT,few clouds,82,40.16,-8.33,64.99,0,0.0,3.56
2,2,miyako,6.38,JP,overcast clouds,86,39.64,141.95,63.46,0,0.0,6.38
3,3,sioni,29.97,GE,thunderstorm,73,41.99,45.02,71.60,0,0.0,29.97
4,4,mahebourg,9.17,MU,shower rain,83,-20.41,57.70,71.60,0,0.0,9.17
7,7,beaverlodge,11.41,CA,scattered clouds,33,55.22,-119.44,73.40,0,0.0,11.41

In [14]:
# After dropping the NA cities count it one more time to see how may cities are dopped.
# we can see the number did not change, that mean no city was dopped. 
filtered_cities_df.count()

city_ID                335
City                   335
Cloudiness             335
Country                335
Current Description    335
Humidity               335
Lat                    335
Lng                    335
Max Temp               335
Rain (inches)          335
Snow (inches)          335
Wind Speed             335
dtype: int64

In [15]:
#Add the cities to a marker layer map with a pop-up marker for each city that includes:
#Hotel name
#City
#Country
#Current weather description with the maximum temperature

hotel_df = filtered_cities_df[["City","Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df.head()

          City Country  Max Temp    Lat     Lng Hotel Name
1         lata      PT     64.99  40.16   -8.33
2       miyako      JP     63.46  39.64  141.95
3        sioni      GE     71.60  41.99   45.02
4    mahebourg      MU     71.60 -20.41   57.70
7  beaverlodge      CA     73.40  55.22 -119.44

In [ ]:
# Setting the parameters. these are the settings for gmaps.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#Iterete through

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng =row["Lng"]
    
    params["location"]=f"{lat},{lng}"
    
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except IndexError:
        print ("Hotel name Not Found .....Keep skipping....")

Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....
Hotel name Not Found .....Keep skipping....

In [ ]:
hotel.df.head()

In [ ]:
output_data_file="./data/WeatherPy_Cacation.csv"
hotel_df.to_csv(output_data_file, index_label="city_ID")